{% extends "base.html" %}

{% block content %}
  <div class="container">
    {% if projects %}
      <div class="flex flex-wrap justify-center gap-4">
        {% for project in projects %}
          <div class="relative max-w-2xl px-24 py-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 group"
               x-data="{ showCommand: false, textToCopy: '{{ project.management_command }}' }">
            <div class="mb-4">
              <div class="absolute right-2 hidden group-hover:block">
                <a href="{% url 'projects:log_list' project.id %}">
                  <svg class="w-4 h-4 text-slate-800 dark:text-slate-400 dark:hover:text-purple-400"
                       aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg"
                       width="24"
                       height="24"
                       fill="none"
                       viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                  </svg>
                </a>
              </div>
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project.title }}</h5>
              </a>
              <p class="text-sm italic text-slate-600">
                {% if project.last_synced_at %}
                  Last sync: {{ project.last_synced_at|timesince }} ago
                {% else %}
                  Not synced yet
                {% endif %}
              </p>
            </div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ project.description }}</p>
            <div class="flex flex-wrap gap-2">
              <a href="{{ project.get_absolute_url }}"
                 type="button"
                 class="inline-flex btn-primary">View</a>
              <a @click="showCommand = ! showCommand;"
                 href="#"
                 type="button"
                 class="inline-flex btn-action">Sync</a>
            </div>
            <div class="dark:bg-slate-600 p-4 rounded-lg space-y-2 relative"
                 x-cloak
                 x-show="showCommand"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 transform scale-95"
                 x-transition:enter-end="opacity-100 transform scale-100"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 transform scale-100"
                 x-transition:leave-end="opacity-0 transform scale-95">
              <div class="absolute -top-2 -right-2">
                <button @click="showCommand = false" class="hover:cursor-pointer">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white"
                       aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg"
                       width="24"
                       height="24"
                       fill="none"
                       viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <p class="text-sm">
                Access the most recent project logs by running the following command in your terminal. The command has also been copied to your clipboard.
              </p>
              <p class="text-sm">
                The sync command will copy the log files the local storage and initiate a translation from raw logs to a command and querable format.
              </p>
              <div class="relative p-2 bg-slate-100 rounded-lg">
                <button class="absolute top-1 right-1"
                        @click=" navigator.clipboard.writeText(textToCopy).then(() => { showQuickFlash = true; quickFlashText = 'Command copied to clipboard'; setTimeout(() => showQuickFlash = false, 2000); })">
                  <svg class="w-6 h-6 text-slate-800"
                       aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg"
                       width="24"
                       height="24"
                       fill="none"
                       viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z" />
                  </svg>
                  <span class="sr-only">Copy command to clipboard</span>
                </button>
                <code class="text-xs break-words whitespace-pre-wrap overflow-auto">{{ project.copy_command }}</code>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="flex flex-col items-center justify-center gap-2 h-[calc(100vh-10em)] w-screen">
      <div class="rounded-lg bg-linear-45 from-primary to-accent p-[2px]">
        <div class="bg-background p-4 space-y-2.5 rounded-lg flex flex-col items-center justify-center">
          <h3>No projects found</h3>
          <p>Click below to create your first project</p>
          <a href="{% url 'projects:create' %}"
             type="button"
             class="inline-block btn-primary">Create Project</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
