{% extends "base.html" %}

{% block content %}
  <h1 class="text-center mb-4">{{ project.title }}</h1>
  {# filters #}
  <section>
    <form action=""
          method=""
          class="flex flex-row justify-left flex-wrap space-x-4 py-2 pl-4"
          hx-get="{% url 'projects:log_list' project.slug %}"
          hx-target="#log-entry-list"
          hx-trigger="change from:input, submit">
      {% csrf_token %}
      <div>
        <button class="chip" type="button" data-dropdown-toggle="timestampDropdown">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          Timestamp
        </button>
        <div id="timestampDropdown"
             class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
          <h6 class="mb-3 text-sm font-medium text-white">Timestamp</h6>
          {{ filterset.form.timestamp }}
        </div>
      </div>
      <div>
        <button class="chip" type="button" data-dropdown-toggle="summaryDropdown">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          Title
        </button>
        <div id="summaryDropdown"
             class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
          <h6 class="mb-3 text-sm font-medium text-white">Summary</h6>
          {{ filterset.form.summary }}
        </div>
      </div>
      <div>
        <button class="chip" type="button" data-dropdown-toggle="priorityDropdown">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
          </svg>
          Priority
        </button>
        <div id="priorityDropdown"
             class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
          <h6 class="mb-3 text-sm font-medium text-white">Log Level</h6>
          {{ filterset.form.level }}
        </div>
      </div>
    </form>
  </section>
  {% include 'projects/_log_list.html' %}
{% endblock content %}
{% block extra_js %}
  window.addEventListener("load", function(event) {
  document.querySelector('[data-dropdown-toggle="dropdown"]').click();
  });
{% endblock extra_js %}
