{% extends "base.html" %}

{% block content %}
  <div class="grid grid-cols-3 items-center">
    <div class="col-start-2">
      <h1 class="text-center">
        {% if object.title %}
          {{ object.title }}
        {% else %}
          Log {{ object.id }}
        {% endif %}
        Summary
      </h1>
    </div>
    <div class="col-start-3 flex justify-end">
      <a href="{% url 'projects:log_list' object.project.slug %}"
         class="text-sm text-white">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="inline-block size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Back to Project
      </a>
    </div>
  </div>
  <div class="grid grid-cols-4" x-data="{ showVendor: true }">
    <aside class="flex flex-col space-y-4 p-2 border-2 border-slate-800 rounded bg-gray-800">
      <h3 class="font-bold text-blue-500 text-center">Filters</h3>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox"
               value=""
               class="sr-only peer"
               @click="showVendor = ! showVendor" />
        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
        </div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Toggle vendor</span>
      </label>
      <h3 class="font-bold text-blue-500 text-center">Statistics</h3>
      <span class="text-slate-300">Related Logs: {{ n_related }}</span>
      <h3 class="font-bold text-blue-500 text-center">Known Fixes</h3>
    </aside>
    <section class="col-span-3 p-2">
      <div class="p-2 m-2">
        <code class="text-base text-green-600">{{ object.summary }}</code>
      </div>
      {% for line in trace %}
        {% if line != "" %}
          <div class="border-b p-1 border-gray-200 text-sm text-white hover:bg-slate-700 {% if supressing_keywords in line %}vendor brightness-50{% endif %}"
               :class="showVendor ? '' : 'hide-vendor'">
            <span class="text-white">{{ forloop.counter }}.</span> <code>{{ line }}</code>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
{% endblock content %}
