<div class="flex flex-wrap gap-4 px-16">
  {% for item in connections %}
    <div class="relative max-w-2xl px-24 py-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 group">
      <div class="absolute right-2 hidden group-hover:block">
        <a href="{{ item.get_edit_url }}">{% include "svgs/edit.html" %}</a>
      </div>
      <div class="flex flex-col justify-between h-full space-y-4 items-center">
        <h4 class="text-white mb-4">{{ item.name }}</h4>
        <div class="flex flex-wrap">
          <a href="{{ item.get_absolute_url }}"
             type="button"
             class="inline-flex btn-primary">View</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
