{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="grid grid-cols-3 items-center mb-4">
      <h1 class="col-start-2 text-center">Connections</h1>
      <div class="text-right">
        <a href="{% url 'connections:create' %}" class="inline-flex btn-action">Create Connection</a>
      </div>
    </div>
    {% if connections %}
      {% include "components/grid_card.html" with items=connections %}
    {% else %}
      <div class="text-center py-8">
        <p class="text-gray-600 dark:text-gray-400">No connections found.</p>
        <a href="{% url 'connections:create' %}"
           class="inline-flex btn-primary mt-4">Create Connection</a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
