@import "tailwindcss";

@config "./../tailwind.config.js";

@theme {
    --color-primary: #2B7FFF;
    --color-secondary: #DFBBB1;
    --color-accent: #6B4E71;
    --color-background: #111827;
}

@layer base {
    body {
        @apply bg-gray-50 dark:bg-gray-900;
    }

    h1 {
        @apply text-4xl font-bold dark:text-white;
    }

    h2 {
        @apply text-3xl font-bold dark:text-white;
    }

    h3 {
        @apply text-2xl font-bold dark:text-white;
    }

    p {
        @apply text-lg dark:text-white;
    }

    a {
        @apply text-primary hover:text-blue-700;
    }

    /* Inputs */
    input:is([type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week']),
    form select,
    form select[multiple],
    form textarea {
        @apply bg-slate-500 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-secondary dark:focus:border-secondary;
    }

    form label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }

    button {
        @apply hover:cursor-pointer;
    }

    button[aria-expanded="true"] {
        background-color: transparent !important;
    }
}

@layer utilities {
  [x-cloak] { display: none !important; }

  .hide-vendor.vendor {
      display: none;
  }
}

@layer components {
    .btn-primary {
        @apply text-white hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-primary dark:text-blue-200 dark:hover:text-white dark:hover:bg-primary dark:focus:ring-blue-800
    }

    .btn-action {
        @apply text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900
    }

    .btn-hawt {
        @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900
    }

    .chip {
        @apply bg-transparent rounded-full border p-2 text-xs border-slate-500 flex text-slate-500 items-center hover:border-slate-400 hover:text-slate-400;
    }

    .chip svg {

        @apply size-4 mr-1;
    }
}
